@using System.Web
@model _4TEForum.Web.Models.Post.PostIndexModel

<div class="container body-content">
    <div class="row postHeader">
        <div class="postHeading">
            <span class="postIndexTitle">
                @Model.Title
            </span>
            <span id="headingBtn">
                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-back" style="float:right;margin-left:790px;">
                    Back to @Model.ForumName
                </a>
            </span>
        </div>
    </div>


    <div class="row" id="postIndexContent">
        <div class="col-md-3 postAuthorContainer">
            <div class="postAuthorImage" style="background-image: url(@Model.AuthorImageUrl);"></div>
            @Model.AuthorName
            <span class="postData">@Model.Created</span>
            @if (Model.IsAuthorAdmin)
            {
                <span class="isAdmin smaller">Admin</span>

            }
        </div>
        <div class="col-md-9 postContentContainer">
            <div class="postContent">
                @Model.PostContent
                @if (this.User.Identity.IsAuthenticated && User.Identity.Name == Model.AuthorName)
                {
                    <a asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-newReply" style="float:right;">
                        Edit Post
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="row" id="replyDivider"></div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <span>
                <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply">
                    Post Reply
                </a>
            </span>
        </div>
    }

    @if (Model.Replies.Any())
    {
        foreach (var reply in Model.Replies)
        {
            <div class="row replyContent">
                <div class="col-md-3 replyAuthorContainer">
                    <div class="postAuthorImage" style="background-image: url(@reply.AuthorImageUrl)"></div>
                    @reply.AuthorName
                    @if (reply.IsAuthorAdmin)
                    {
                        <div class="isAdmin smaller">Admin</div>
                        <br>
                    }
                    <span>@reply.Created</span>
                </div>
                <div class="col-md-9 replyContentContainer">
                    <div class="postContent">
                        @reply.ReplyContent
                        @if (User.Identity.IsAuthenticated && reply.AuthorName == User.Identity.Name)
                        {
                            <a asp-controller="Reply" asp-action="Edit" asp-route-id="@reply.Id" class="btn btn-newReply" style="float:right;">
                                Edit Reply
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="noPosts">
            <h3>There are no replies to this post</h3>
        </div>
    }
</div>
